* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}

.wrapper {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1;
  min-width: 1024px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  background: #373c3f;
  padding: 43px 0 39px 0;
}

header h2 {
  display: none;
}

.nav {
  padding-left: 52px;
}

.nav li {
  display: inline-block;
  list-style: none;
  margin-right: 24px;
}

.nav li:last-of-type {
  margin-right: 0;
}

.nav li a {
  font-size: 15px;
  color: #ebebeb;
}

.nav li a:hover {
  color: #fff;
}

.banner {
  background: linear-gradient(to bottom right, #19b4c6, #078aa4);
  padding: 194px 0 167px 0;
  color: #fff;
}

.banner-content {
  padding: 0 82px;
}

h1 {
  font-size: 63px;
  font-weight: normal;
  line-height: 67px;
}

.banner a {
  display: block;
  color: #fff;
  opacity: 0.8;
  font-size: 34px;
  margin-top: 48px;
  letter-spacing: 1px;
}

.banner a:hover {
  opacity: 1;
}

.banner a:after {
  content: "";
  display: block;
  width: 15px;
  height: 25px;
  background: url(../img/arrow-36px.png) no-repeat;
  float: right;
  margin-right: 140px;
  margin-top: 7px;
}

.robin-hood {
  background: #27212c;
}

.robin-hood .container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.textbox {
  width: 77.8%;
  background: #27212c;
}

.more-robin-hood {
  width: 22.2%;
}

.more-robin-hood a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/arrow-50px.png) 47% 47% no-repeat, #bc3183;
}

.more-robin-hood a:hover {
  background-color: #ce519a
}

.textbox p {
  display: block;
  padding: 110px 0 105px 84px;
  font-size: 31px;
  color: #9282a0;
  line-height: 1;
  letter-spacing: 0.2px;
}

.gallery .container {
 overflow: auto;
}

.go-to-gallery {
  width: 33.6%;
  float: left;
}

.go-to-gallery a{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/arrow-40px.png) 49% 47% no-repeat, #5b0fa1;
}

.go-to-gallery a:hover {
  background-color: #7030ab;
}

.img-container {
  width: 33.2%;
  font-size: 0;
  float: left;
}

.img-container img {
  width: 100%;
}

.gallery {
  background: #27212c;
}

.text-content {
  background: #ebebeb;
  padding: 51px 0 170px 0;
}

.text {
  padding: 20px 82px 0 82px;
  display: flex;
}

.column {
  width: 46.5%;
}

.left-column {
  margin-right: 60px;
}

.column p { 
  line-height: 1.86;
  margin-bottom: 31px;
  color: #515151;
}

.text-content a {
  font-size: 30px;
  color: #088ca5;
  margin-left: 78px;
}

.text-content a:hover {
  color: #4EACBE;
}

@media (max-width: 1023px) {
  
  .wrapper {
    min-width: 640px;
    max-width: 100%;
  }
  
  .container {
    width: 100%;
  }
  
  .gallery .container {
    display: block;
  }
     
  .img-container {
    width: 100%;
  }
  
  .go-to-gallery {
    width: 100%;
  }
 
  .more-robin-hood {
    width: 142px;
    min-width: 142px;
  }
  
  .textbox {
    width: 881px;
    min-width: 498px;
  }

  .textbox p {
    font-size: 20px;
    padding: 68px 0 62px 53px;
  }
  
  .right-column {
    display: none;
  }
  
   .left-column {
    margin: 0 auto;
  }
  
  header {
    padding: 0;
  }

  header h2 {
    display: block;
    font-weight: normal;
    font-size: 24px;
    color: #fff;
    padding: 25px 0 26px 36px;
  }
  
  header .container {
    position: relative;
  }
  
  .nav {
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    z-index: 2;
  }
  
  .nav li {
    display: block;
    width: 250px;
    margin: 0;
  }
  
  .nav li a {
    display: block;
    padding: 25px;
    background: rgba(55, 60, 63, 0.8);
    border-bottom: 1px solid #70767B;
    }
  
  .nav li a:hover {
    background: rgba(112, 118, 123, 0.8);
  }
  
  .dropdown-toggle {
    display: block;
    width: 82px;
    height: 75px;
    background: url(../img/navigation-icon.png) 50% 50% no-repeat #202529;
    float: right;
   }
  
  h1 {
    font-size: 38px;
    line-height: 42px;
  }

  .banner a {
    font-size: 20px;
    margin-top: 30px;
  }

  .banner a:after {
    margin-right: 10px;
    background-size: 75%;
  }

  .banner {
    padding: 0;
  }

  .banner-content {
    padding: 108px 135px 105px 52px;
  }

  .go-to-gallery a {
    background-image: url(../img/arrow-640px-purple.png);
    background-size: 33px; 
  }

  .more-robin-hood a { 
    background-size: 15px;
  }

  .column {
    font-size: 22px;
    width: 100%;
  }

  .column p {
    line-height: 43px;
    padding-bottom: 25px;
  }

  .text {
    padding: 40px 73px 0 73px;
  }

  .text-content a {
    margin-left: 74px;
  }

  .text-content {
    padding-top: 68px;
  }
}
@media (max-width: 639px) {
  
  .wrapper {
    min-width: 320px;
    max-width: 100%;
  }
  
  .container {
    width: 100%;
  }
  
  .gallery .container {
    display: block;
  }
     
  .img-container {
    width: 100%;
  }
  
  .go-to-gallery {
    width: 100%;
  }
 
  .more-robin-hood {
    width: 71px;
    min-width: 71px;
  }
  
  .textbox {
    width: 568px;
    min-width: 249px;
  }

  .textbox p {
    font-size: 10px;
    padding: 35px 0 30px 26px;
  }
  
  .right-column {
    display: none;
  }
  
   .left-column {
    margin: 0 auto;
  }
  
  header {
    padding: 0;
  }

  header h2 {
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #fff;
    padding: 13px 0 12px 18px;
  }
  
  header .container {
    position: relative;
  }
  
  .nav {
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
    z-index: 2;
  }
  
  .nav li {
    display: block;
    width: 150px;
    margin: 0;
  }
  
  .nav li a {
    display: block;
    padding: 15px;
    background: rgba(55, 60, 63, 0.8);
    border-bottom: 1px solid #70767B;
    font-size: 12px;
    }
  
  .nav li a:hover {
    background: rgba(112, 118, 123, 0.8);
  }
  
  .dropdown-toggle {
    display: block;
    width: 41px;
    height: 37px;
    background: url(../img/navigation-icon.png) 50% 50% no-repeat #202529;
    background-size: 15px;
    float: right;
   }
  
  h1 {
    font-size: 20px;
    line-height: 22px;
  }

  .banner a {
    font-size: 10px;
    margin-top: 15px;
  }

  .banner a:after {
    margin-top: 0;
    margin-right: 10px;
    background-size: 35%;
  }

  .banner {
    padding: 0;
  }

  .banner-content {
    padding: 54px 50px 52px 26px;
  }

  .go-to-gallery a {
    background-image: url(../img/arrow-640px-purple.png);
    background-size: 17px; 
  }

  .more-robin-hood a { 
    background-size: 8px;
  }

  .column {
    font-size: 14px;
    width: 100%;
  }

  .column p {
    line-height: 22px;
    padding-bottom: 0px;
  }

  .text {
    padding: 15px 20px 0 37px;
  }

  .text-content a {
    font-size: 19px;
    margin-left: 37px;
  }

  .text-content {
    padding-top: 34px;
  }
}